{% from 'components/tag/macro.jinja' import tag %}

{% set colors = {} %}

{% set showCheckin = params.status.key == params.allStatuses.CONFIRMED %}

{% set tagClasses = "nhsuk-tag--" ~ params.status.colour if params.status.colour else "" %}
{% set tagClasses = tagClasses + " app-nowrap app-ajax-submit" %}
{% set showCheckIn = params.status.key == params.allStatuses.CONFIRMED %}

<div data-event-status-container="{{ params.id }}" {% if showCheckin %}data-module="app-ajax-submit"{% endif %}>
  <span data-hide-on-submit>{{ tag({
    "text": params.status.text,
    "classes": tagClasses
  })}}</span>

  {% if showCheckIn %}
  <span data-show-on-submit hidden>{{ tag({
    "text": "Checked in",
    "classes": "app-nowrap"
  })}}</span>
  {% endif %}

  {% if showCheckIn %}
      <form action="{{ url('record_a_mammogram:check_in', kwargs={'id': params.id}) }}" <form method="post" novalidate>
      <p class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-0">
        <button class="app-button--link">
          Check in
        </button>
      </p>
      {{params.csrfInput}}
      </form>
  {% endif %}
</div>
