{% extends 'layout-app.jinja' %}

{% from 'components/secondary-navigation/macro.jinja' import app_secondary_navigation %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <span class="nhsuk-caption-l">Clinic</span>
        <h1 class="nhsuk-heading-l">{{ "" }}</h1>
    </div>
</div>
{% endblock %}